---
extends: default

rules:
  line-length:
    max: 150
  truthy:
    allowed-values: ["true", "false", "on"]
  document-start: disable
  new-line-at-end-of-file: disable
  new-lines: disable
